{% extends 'shop/basic.html' %}

{% block title %} Checkout | Shop - E-Commerce{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<header class="bg-white border-bottom shadow-sm mt-3">
  <div class="container py-3 d-flex justify-content-between align-items-center">
    <h2 class="mb-0">🛒 Checkout</h2>
    <a href="/shop/" class="btn btn-outline-primary btn-sm">Back to Shop</a>
  </div>
</header>
<div class="container py-5">
  <div class="row g-5">

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Billing & Shipping</h4>
      <form class="needs-validation" action="/shop/checkout/" method="post" novalidate> {% csrf_token %}
        <input type="hidden" id="itemsJson" name="itemsJson" class="form-control" name="itemsJson">
        <input type="hidden" id="amount" name="amount" class="form-control" name="amount">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="first_name" placeholder="eg. Ganesh" required>
            <div class="invalid-feedback">Valid first name is required.</div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="last_name" placeholder="eg. Rawat" required>
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>

          <div class="col-12">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="eg. 9760090699" required>
            <div class="invalid-feedback">Valid phone number is required.</div>
          </div>
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Tulsipur-9, Beluwa" required>
            <div class="invalid-feedback">Please enter your shipping address.</div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">Province</label>
            <select class="form-select" id="state" name="province" required>
              <option value="">Choose...</option>
              <option>Karnataka</option>
              <option>Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>Bihar</option>
              <option>Andhra Pradesh</option>
              <option>kerala </option>
              <option>Tamil Nadu </option>
            </select>
            <div class="invalid-feedback">Please provide a valid state.</div>
          </div>
          
          <div class="col-md-5">
            <label for="district" class="form-label">District</label>
            <select class="form-select" id="district" name="district" required>
              <option value="">Choose...</option>
              <option>Achham</option>
              <option>Arghakhanchi</option>
              <option>Baglung</option>
              <option>Baitadi</option>
              <option>Bajhang</option>
              <option>Bajura</option>
              <option>Banke</option>
              <option>Bara</option>
              <option>Bardiya</option>
              <option>Bhaktapur</option>
              <option>Bhojpur</option>
              <option>Chitwan</option>
              <option>Dadeldhura</option>
              <option>Dailekh</option>
              <option>Dang</option>
              <option>Darchula</option>
              <option>Dhading</option>
              <option>Dhankuta</option>
              <option>Dhanusha</option>
              <option>Dolakha</option>
              <option>Dolpa</option>
              <option>Doti</option>
              <option>Eastern Rukum</option>
              <option>Gorkha</option>
              <option>Gulmi</option>
              <option>Humla</option>
              <option>Illam</option>
              <option>Jajarkot</option>
              <option>Jhapa</option>
              <option>Jumla</option>
              <option>Kailali</option>
              <option>Kalikot</option>
              <option>Kanchanpur</option>
              <option>Kapilvastu</option>
              <option>Kaski</option>
              <option>Kathmandu</option>
              <option>Kavrepalanchok</option>
              <option>Khotang</option>
              <option>Lalitpur</option>
              <option>Lamjung</option>
              <option>Mahottari</option>
              <option>Makwanpur</option>
              <option>Manang</option>
              <option>Morang</option>
              <option>Mugu</option>
              <option>Mustang</option>
              <option>Myagdi</option>
              <option>Nawalpur</option>
              <option>Nuwakot</option>
              <option>Okhaldhunga</option>
              <option>Palpa</option>
              <option>Panchthar</option>
              <option>Parbat</option>
              <option>Parsa</option>
              <option>Pyuthan</option>
              <option>Ramechhap</option>
              <option>Rasuwa</option>
              <option>Rautahat</option>
              <option>Rolpa</option>
              <option>Rupandehi</option>
              <option>Salyan</option>
              <option>Sankhuwasabha</option>
              <option>Saptari</option>
              <option>Sarlahi</option>
              <option>Sindhuli</option>
              <option>Sindhupalchok</option>
              <option>Siraha</option>
              <option>Solukhumbu</option>
              <option>Sunsari</option>
              <option>Surkhet</option>
              <option>Syangja</option>
              <option>Tanahun</option>
              <option>Taplejung</option>
              <option>Tehrathum</option>
              <option>Udayapur</option>
              <option>Western Rukum</option>
            </select>
            <div class="invalid-feedback">Please select a valid district.</div>
          </div>
          <div class="col-md-3">
            <label for="zip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" name="zip_code" required>
            <div class="invalid-feedback">Zip code required.</div>
          </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Place Order</button>
      </form>
    </div>

    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span id="userCartCount" class="badge bg-primary rounded-pill">0</span>
      </h4>
      <ul class="list-group mb-3 productsItems"> </ul>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" disabled>
          <button type="submit" class="btn btn-secondary disabled">Redeem</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div> {% endblock %}

{% block js %}

<script>
  (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()

  document.addEventListener("DOMContentLoaded", function () {
    let totalCartCount = 0;
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
      totalCartCount += cart[item][0];
    }
    document.getElementById('cart_count').innerHTML = totalCartCount;
    document.getElementById('userCartCount').innerHTML = totalCartCount;
  })

  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }
  if (Object.keys(cart).length == 0) {
    let addItemMsg = `
        <li class="list-group-item d-flex align-items-center text-center flex-column">
          <div class="text-warning mb-2">
            <i class="fa-solid fa-cart-arrow-down fa-2x"></i>
          </div>
          <strong class="mb-1">Your cart is empty</strong>
          <p class="mb-0 small text-muted">Add some items to get started</p>
        </li>
      `;
    $('.productsItems').append(addItemMsg);
  } else {
    var priceTotal = 0;
    for (let item in cart) {
      let quantity = cart[item][0];
      let name = cart[item][1];
      let price = cart[item][2];
      priceTotal += quantity * price;
      cartlist = `<li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">${name}</h6>
                      <small class="text-muted">${price}x${quantity}=${price*quantity}</small>
                    </div>
                    <span class="text-muted">${quantity} </span>
                  </li>` 
      $('.productsItems').append(cartlist);
    }
    totalPrice = `<li class="list-group-item d-flex justify-content-between">
                    <span>Total (Rs) </span>
                    <strong id="totalPrice"> ${priceTotal}</strong>
                  </li>`
    $('.productsItems').append(totalPrice);
  }

$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
  alert("Order Placed Successfully. Your id is {{id}}. Use it to track your order. We will get back to you soon.");
  localStorage.clear();
  document.location = '/shop/';
{% endif %}

$('#amount').val($('#totalPrice').html());

</script> 
{% endblock %}